[user]
    email = gongyq10@gmail.com
    name = Gong Yunqing
[core]
    editor = vim
    pager = less -r
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[lfs]
[credential]
    helper = store
[diff]
    tool = kdiff3
[push]
    default = simple
[alias]
    tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[color]
    ui = true
